footer {
    background-color: #2a2a72;
    background-image: $fondoNavFooter;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    color:#fff;
    .footerDatos {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 200;
        margin: 10px;
        div {
            margin: 10px 20px;
            border-top:1px solid rgba(255,255,255,0.3)  
       } 
        h5 {
            text-transform: capitalize;
            margin: 0;
        }
        p {
            margin: 0;  
        }
    }
    .footerRedes { 
        margin-right: 20px;
        .redesIcono {
            color: #fff;
            font-size: 1.8em;
            margin:0 10px;
    }
 }
}