header {
    nav{
        background-color: #2a2a72;
        background-image: $fondoNavFooter;
        font-size: 1.3em;
        .logo{
            font-size: 1.5em;
            padding-left: 20px ;
        }
    }
}