/* header */
header nav {    
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, red 70%, #009ffd 100%);
    font-size: 1.3em;  
}
.logo{
    font-size: 1.5em;
    padding-left: 20px ;
}
/* fin header */