/* nosotros */
h2 {
    text-decoration: underline;
    margin: 20px;
    margin-bottom: 5px;
    color: #fff;
}
.nosotrosHistoria, .nosotrosTextoVideo {
    margin-left: 20px;
    text-align: justify;
    letter-spacing: 1px;
    color: #fff;
}
.nosotrosVideo {
    border: 1px solid;
    border-radius: 20px;
    margin: 5% 15% ;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 5px 1px;
}


.nosotrosVideo video {
    border-radius: 10px;
    width: 500px;  
}
.nosotrosTextoVideo {
    width: 40%;
    font-weight: 200;
}
/* final nosotros */